<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homePageStyle.css">
    <title>Home</title>
</head>

<body>
    <h1>Welcome <strong id="visitorName"></strong></h1>

    <form id="sendMessageForm">
        <input type="text" id="sendMessageInp" placeholder="Enter your message" class="textInput">
        <button type="submit" id="submitInput">Post</button>
    </form>

    <div id="messageArea"></div>

    <script src="/static/home.js"></script>
</body>

</html>
