<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/loginStyle.css">
</head>

<body>
    <h1>Welcome to my chat website</h1>
    <h3>Please enter a visitor name</h3>
    <form class="loginForm" id="loginForm">
        <input type="text" placeholder="Enter visitor name" id="visitorName" class="textInput">
        <button type="submit" class="textSubmitButton" onclick="sendLoginData()">Login</button>
    </form>

    <script src="/static/login.js"></script>
</body>

</html>
